.footer{
    margin-top: 43px;
    background-color: #83f3b4;
    height: 135px;
    margin-bottom: 0;
}


.ulFooter{
    justify-content: center;
    display: grid;
    margin: 0;
}

ul li{
    list-style: none;
    margin-top: 20px;
}

.powered {
    font-size: 12px;
    justify-content: right;
    margin: 0;
    display: flex;
    margin-top: 5px;
    margin-right: 10px;
}