.footer{
    background-color: #83f3b4;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
}

ul{
    background-color: #83f3b4;
}

ul li{
    list-style: none;
} 

.spanFooter{
    display: grid!important;
    margin-top: 20px;
}
