.footer{
    margin-top: 43px;
    background-color: aliceblue;
    height: 135px;
    margin-bottom: 0;
}


.ulFooter{
    justify-content: center;
    display: grid;
    margin: 0;
}

.powered {
    font-size: 12px;
    justify-content: right;
    margin: 0;
    display: flex;
    margin-top: 19px;
    margin-right: 10px;
}