.navbar{
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .2em 2em;
    background-color: #83f3b4;
}

.brand img{
    display: flex;
    max-width: 40%;
    align-items: flex-start;
}

.links_list{
    display: flex;
    list-style: none;
    max-width: 40%;
    margin: 0;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.links_list img {
    max-width: 50%;
}

.links_list span {
    margin-left: 1em;
    cursor: pointer;
}


.active{
    background-color: #000;
    color: #fff;
  }






















/* .navbar{
    background-color: #abf2ca;
    font-size: 15px;
    height: 100px;
}

.div{
    padding: 5px;
    justify-content: flex-end;
    margin-top: -3%;
    margin-left: 1080px;
}

.div img{
    max-width: 10%;
}

.empresa{
    alt: "Empresa";
}

.home{
    justify-content: left;
    display: flex;
    margin-left: 10px;
    margin-top: -219px;
}

.home img{
    max-width: 10%;
    float: left;
    display: flex;
    margin: 0;
    margin-top: 25px;
    margin-left: -10px;
}

.cabec{
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    display: flex;
    max-width: 500px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.cabec img{
    max-width: 50%;
    display: flex;
    margin-bottom: 110px;
    justify-items: center;
    align-items: center;
    margin-left: 52px;
    margin-top: 64px;
    position: relative;
    z-index: 2;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.by{
    margin-top: 62px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: mediumspringgreen;
    animation: blink 3s infinite;
    display: none;
}

.be{
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    animation: blink 2s infinite;
    display: none;
}

@media (max-width: 896px) {
    ul li {
        list-style: none;
        margin: 0;
        padding: 10px 13px 0;
    }

    .be, .by {
        font-family: cursive;
        font-size: 20px;
    }

    .be {
        animation: blink 2s infinite;
        color: #000;
        margin-top: 4px;
    }
    .by {
        animation: blink 3s infinite;
        color: #00fa9a;
        margin-top: 24px;
    }

    .footer {
        background-color: #f0f8ff;
        margin-top: 476px;
    }

    ul {
        display: flex;
        margin-top: -89px;
        margin-right: 76px;
    }

    .ulFooter {
        margin-right: 124px!important;
        display: grid;
        font-size: 13px!important;
        margin-top: 5px!important;
    }

    .ulFooter li {
        list-style: none;
        padding: 10px 13px 0 !important;
        margin-top: 10px !important;
    }
} */