body{
    font-family: 'Times New Roman', Times, serif;
}

form {
    justify-content: center;
    display: grid;
    align-items: center;
    padding: 100px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    background-color: #83f3b4;
    width: 500px;
    margin-left: 430px;
    margin-top: 60px;
    height: 988px;
  }
  
  form label {
    display: contents;
    justify-content: center;
    margin-top: -50px;
  }
  
  form input{
    border-radius: 5px;
    text-align: center;
    width: 340px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -73px;
  }
  
  form button{
    border-radius: 5px;
    width: 100px;
    margin-top: 25px;
    margin-right: 68px;
  }

  .formEmp{
    margin-top: -61px;
  }

.empresarial{
    border-radius: 5px;
    height: 25px;
    text-align: left;
    justify-content: left;
    width: 150px;
}

.lblOrcamento{

}

.pessoal{
    border-radius: 5px;
    height: 25px;
    text-align: left;
    justify-content: left;
    width: 150px;
}

.endereco{
    border-radius: 5px;
    height: 25px;
    text-align: left;
    justify-content: left;
    width: 150px;
}