.App {
  text-align: center;
  width: auto;
  height: 600px;
  margin: 0;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  font-family: 'Times New Roman', Times, serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  justify-content: center;
  display: grid;
  align-items: center;
  padding: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.486);
  border-radius: 20px;
  background-color: aliceblue;
  width: 500px;
  margin-left: 430px;
  margin-top: 60px;
  height: 300px;
}

form label {
  display: contents;
  justify-content: center;
  margin-top: -50px;
}

form input{
  border-radius: 5px;
  text-align: center;
}

form button{
  border-radius: 5px;
}